div.admonition.admonition-rid {
  border-color: rgb(34, 32, 56);
}

div.admonition.admonition-rid > .admonition-title {
  background-color: rgb(34, 32, 56);
  color: white;
}

div.admonition.admonition-rid > .admonition-title::after {
  color: rgb(237, 239, 249);
  content: "\f238"; /* fa-solid fa-train */
}

div.admonition.admonition-adr {
  border-color: rgb(207, 212, 239);
}

div.admonition.admonition-adr > .admonition-title {
  background-color: rgb(207, 212, 239);
  color: rgb(34, 32, 56);
}

div.admonition.admonition-adr > .admonition-title::after {
  color: rgb(34, 32, 56);
  content: "\f0d1"; /* fa-solid fa-truck */
}