div.admonition.admonition-rid {
  border-color: rgb(34, 32, 56);
}

div.admonition.admonition-rid > .admonition-title {
  background-color: hsl(60deg 100% 14%);
  color: white;
}

div.admonition.admonition-rid > .admonition-title::after {
  color: rgb(34, 32, 56);
  content: "\f238"; /* fa-solid fa-train */
}